<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content class="content-wrapper">
    <div class="selecao-idade">
      <app-selector-passageiro
        titulo="Adultos"
        subtitulo="(Acima de 12 anos)"
        [formControl]="formBuscaService.obterControle('adultos')"
      />
      <app-selector-passageiro
        titulo="Crianças"
        subtitulo="(Acima 2 e 11 anos)"
        [formControl]="formBuscaService.obterControle('criancas')"
      />
      <app-selector-passageiro
        titulo="Bebês"
        subtitulo="(Até 2 anos)"
        [formControl]="formBuscaService.obterControle('bebes')"
      />
    </div>
    <div class="selecao-categoria">
      <h2>Categoria</h2>
      <mat-chip-listbox aria-label="Seleção de Categoria">
        <mat-chip-option
          value="Econômica"
          [selected]="
            formBuscaService.formBusca.get('tipo')?.value === 'Econômica'
          "
          (selectionChange)="formBuscaService.alterarTipo($event, 'Econômica')"
          >Econômica</mat-chip-option
        >
        <mat-chip-option
          value="Executiva"
          [selected]="
            formBuscaService.formBusca.get('tipo')?.value === 'Executiva'
          "
          (selectionChange)="formBuscaService.alterarTipo($event, 'Executiva')"
          >Executiva</mat-chip-option
        >
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button mat-dialog-close mat-raised-button color="secondary">
      Cancelar
    </button>
    <button mat-dialog-close mat-raised-button color="primary">Aplicar</button>
  </div>
</section>
