<footer class="app-footer">
  <app-container>
    <div class="app-footer__left">
      <ul>
        <li>
          <img
            src="assets/imagens/logo-com-tagline.png"
            alt="Logo da aplicação Jornada"
          />
        </li>
        <li>Horário de atendimento: 08h - 20h (Segunda a Sábado)</li>
        <li>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</li>
      </ul>
    </div>
    <div class="app-footer__right">
      <p>Acess nossas redes:</p>
      <ul>
        <li>
          <a target="_blank" href="https://www.whatsapp.com/?lang=pt_BR">
            <img
              src="assets/icones/whatsapp.png"
              alt="Nos chame no Whatsapp!"
            />
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/">
            <img
              src="assets/icones/instagram.png"
              alt="Nos chame no Instagram!"
            />
          </a>
        </li>
        <li>
          <a target="_blank" href="https://x.com/home">
            <img src="assets/icones/twitter.png" alt="Nos chame no Twitter!" />
          </a>
        </li>
      </ul>
    </div>
  </app-container>
</footer>
